<div class="text-center">
  <p>
    <h1><i class="far fa-thumbs-up"></i>Japady</h1>
  </p>

  <div>
    ユーザー情報を削除しました。
  </div>
  <div>
    確認コード: <%= @confirmation_code %>
  </div>
  <div>
    <%= link_to 'トップページ/Top Page', root_url %>
  </div>
</div>

