<%  @params1.each do |param| %>
<p>アクセストークン取得</p>
<p>
   <%= "#{param}" %>
</p>
<% end %>

<hr />

<p>アクセストークン確認</p>
<%  @params2.each do |param| %>
<p>
   <%= "#{param}" %>
</p>
<% end %>

<hr />

<p>ユーザ情報取得</p>
<%  @params3.each do |param| %>
<p>
   <%= "#{param}" %>
</p>
<% end %>