<p>アクセストークン取得</p>
 user_token: <%= @user_token %>

<%  @response_data.each do |param| %>
  <p>
    <%= "#{param}" %>
  </p>
<% end %>

<hr />

<p>アクセストークン確認</p>
<%  @response_data2.each do |param| %>
  <p>
    <%= "#{param}" %>
  </p>
<% end %>

<hr />

<p>ユーザ情報取得</p>
<%  @response_data3.each do |param| %>
  <p>
    <%= "#{param}" %>
  </p>
<% end %>