<%= render 'layouts/error_messages', model: @note %>

<div class="row shadow mt-5 bg-white rounded">
    <div class="col-sm-8 p-4">
        <%= render 'note_form', note: @note %>
    </div>
    <div class="col-sm-4 p-4">

    </div>
</div>
