<div class="text-center">

  <%= render "layouts/japady" %>

  <p>
    <a href="<%= @facebook_login_url %>" class="btn btn-primary btn-sm">Facebookでログイン/Continue with Facebook</a><br />
    <small>初めてご利用になる際は、表示されるFacebookのログイン画面でメールアドレスを含むアクセス許可を行ってください。</small>
  </p>
</div>

