<%= render "layouts/japady" %>

<h3>Japady について </h3>

<div class="my-3">
  ここは「●市」に お住（す）まいで 日本語を 学（まな）ばれる人を 支援（しえん）するためのサイトです。「●（団体名）」の日本語教室に参加（さんか）されている人が利用（りよう）できます。
  どなたでもユーザー登録（とうろく）はできますが、教室に参加いただき、正しい参加者（さんかしゃ）であることが確認（確認）されるまでは利用できるサービスには限りがあります。
</div>

<h3>About Japady</h3>

<div class="my-3">
  This site is to support the residents of "●" city learning Japanese and attending the lessons operated by "●（団体名）".
  Any person can sign up to this site, however, the service and information provided on this site is limited unless the user attend the lesson and is authorized as the correct user by "●（団体名）".
</div>



<div class="mt-5">
  利用するためのステップ
</div>

<div class="my-3">
  <div>
    １．まだ一度も日本語教室へ参加をされていない方は、<%= link_to 'こちらのフォーム', '#' %>から参加のご希望をお知らせください。
  </div>
  <div>
    If you have not attended the lessons yet, please send us the inquiry by <%= link_to 'this form', '#' %>.
  </div>
</div>

<div class="my-3">
  <div>
    ２．担当者からの折り返し連絡に基づき、教室に参加してください。
  </div>
  <div>
    Our staff will contact you for further information. Then, please attend the lesson.
  </div>
</div>

<div class="my-3">
  <div>
    ３．参加した教室のスタッフにJapadyの利用を伝えてください。
  </div>
  <div>
    Inform the staff that you have done the signup in Japady.
  </div>
</div>

<div class="my-3">
  <div>
    ４．スタッフがあなたの登録情報を利用者として設定するまでお待ちください。
  </div>
  <div>
    Our staff will grant you as the member.
  </div>
</div>

<div class="my-3">
  <div>
    注意：ユーザー登録から１か月以上連絡が無かったり、利用者の確認ができなかった場合はプロフィールを削除します。
  </div>
  <div>
    If we do not receive any contact from you to attend the lesson for more than one month or not able to confirm you as a correct user, we shall delete all of your data in Japady. 
  </div>
</div>
