
<div class="text-center">
    
    <p>
        <h1><i class="far fa-thumbs-up"></i>Japady</h1>
    </p>

    <p>
        <h3>なかまたちと学びや気持ちを共有して称え合いましょう！</h3>
    </p>

    <p>
        <h3>Praise each other for learnings and emotions with other learners!</h3>
    </p>

    <p>
        <%= link_to 'パスワードでログイン/Login with password', login_path, class: 'btn btn-dark' %>
    </p>

    <p>
        <a href="https://www.facebook.com/v11.0/dialog/oauth?client_id=534002854713007&redirect_uri=https://japady.herokuapp.com/auth/facebook/callback&state=abc'">Continue with Facebook</a>
    </p>

    <p>
        <small>
            <%= link_to '初めての方はこちらからサインアップ / If you are new, sign up from here', signup_path %>
        </small>
    </p>

</div>

