
<div class="text-center">
  
  <%= render "layouts/japady" %>

  <div>
    <h3>なかまたちと学びや気持ちを共有して称え合いましょう！</h3>
  </div>

  <div>
    <h3>Praise each other for learnings and emotions with other learners!</h3>
  </div>

  <div>
    <%= link_to 'パスワードでログイン/Login with password', login_path, class: 'btn btn-dark' %>
  </div>

  <div>
    <small>
      <%= link_to '初めての方はこちらからサインアップ / If you are new, sign up from here', signup_path %>
    </small>
  </div>

  <hr />

  <div>
    <a href="<%= auth_facebook_login_path %>">
      <small>こちらよりFacebookアカウントのメールアドレスを使用してログインが可能です。/ You can login with facebook email by following this link.</small>
    </a>
  </div>

</div>

