
<div class="text-center">
    
  <p>
    <h1><i class="far fa-thumbs-up"></i>Japady</h1>
  </p>

  <p>
    <h3>なかまたちと学びや気持ちを共有して称え合いましょう！</h3>
  </p>

  <p>
    <h3>Praise each other for learnings and emotions with other learners!</h3>
  </p>

  <p>
    <%= link_to 'パスワードでログイン/Login with password', login_path, class: 'btn btn-dark' %>
  </p>

  <p>
    <small>
      <%= link_to '初めての方はこちらからサインアップ / If you are new, sign up from here', signup_path %>
    </small>
  </p>

  <hr />

  <p>
    <a href="<%= login_url_facebook %>" class="btn btn-primary btn-sm">Facebookでログイン/Continue with Facebook</a><br />
    <small>フェイスブックアカウントのメールアドレスを使用してログインが可能です。</br>
    表示される画面でメールアドレスのアクセス許可を行ってください。</small>
  </p>

</div>

