<h1>Japady</h1>

プライバシーポリシー / Privacy Policy

このサイトで登録された情報は以下の用途に限定し、使用されます。

・日本語教室開催に関する予定の連絡
・日本語教室の利用者の学習支援に必要な業務

・退会した場合および、正規ユーザーと確認できない期間が続き妥当と判断した場合はプロフィール、作成されたノート、問い合わせ内容を削除

＜＜上記は仮テキストです。実際に利用する団体のプライバシーポリシーおよび日本語学習支援における取り決めにより調整します＞＞