<h2 class="bg-light mb-4">教室情報の作成</h2>

<%= render 'layouts/error_messages', model: @lesson %>

<div class="row shadow mt-5 bg-white rounded">
    <div class="col-sm-8 p-4">

        <%= render 'lesson_form', lesson: @lesson %>

    </div>
    <div class="col-sm-4 p-4">

    </div>
</div>
