<div class="text-dark text-center my-5">
  <% unless current_page?(root_url) %>
    <h1><a href="<%= root_url %>" class="text-dark"><i class="far fa-thumbs-up"></i>Japady</a></h1>
  <% else %>
    <h1><i class="far fa-thumbs-up"></i>Japady</h1>
  <% end %>
</div>
